@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active-link {
  position: relative;
  padding-bottom: 4px;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #009ea9;
  border-radius: 2px;
  box-shadow: 0 2px 0 #009ea9;
}

body {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

.navbar {
  background-color: #ffffff;
}

.navbar.dark {
  background-color: #1e1e1e;
}

button {
  background-color: #009ea9;
  color: #ffffff;
}

button.dark {
  background-color: #005f6a;
  color: #ffffff;
}
